---
layout: default
title: Home
---

    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/style.css" />

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

   <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Tab</h2> <hr/>
            
            <!-- Tabs Navigation-->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
            </ul>
            
            <!-- Tab Sections -->
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    This is our 1st Tab....This is our 1st Tab....
                    This is our 1st Tab....This is our 1st Tab....
                    This is our 1st Tab....This is our 1st Tab....
                    This is our 1st Tab....This is our 1st Tab....
                    This is our 1st Tab....This is our 1st Tab....
                    This is our 1st Tab....This is our 1st Tab....
                </div>
                <div class="tab-pane" id="tab2">
                    This is our 2nd tab....This is our 2nd tab....
                    This is our 2nd tab....This is our 2nd tab....
                    This is our 2nd tab....This is our 2nd tab....
                    This is our 2nd tab....This is our 2nd tab....
                    This is our 2nd tab....This is our 2nd tab....
                    This is our 2nd tab....This is our 2nd tab....
                </div>
                <div class="tab-pane" id="tab3">
                    This is out 3rd tab....This is out 3rd tab....
                    This is out 3rd tab....This is out 3rd tab....
                    This is out 3rd tab....This is out 3rd tab....
                    This is out 3rd tab....This is out 3rd tab....
                    This is out 3rd tab....This is out 3rd tab....
                </div>
            </div>
            
        </div>
    </div>
   </div>
   
       <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/contentHover.js"></script>